.logoContainer {
  cursor: pointer;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f6f6f6;
  transition: background-color 0.3s;
}

.logoContainer:hover {
  background-color: #e6f7ff;
}

.menuTitle {
  padding-left: 16px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 4px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 4px;
}

.profileContainer {
  margin-top: auto;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f6f6f6;
  transition: background-color 0.3s;
  cursor: pointer;
}

.profileContainer:hover {
  background-color: #e6f7ff;
}

.profileContainerMenu {
  display: flex;
  align-items: 'center';
}

.userName {
  word-break: break-word;
  max-width: 110px;
  display: block;
}
.email{
  word-break: break-word;
  max-width: 110px;
  display: block;
  font-size: 10px;
}

.content {
  padding: 10px;
  background: #fafafa;
}

.siderFlex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ant-menu-item:hover {
  background-color: #e6f7ff !important;
}

.notifications{
  margin: 0px 4px;
  cursor: pointer;
  padding: 9px 24px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

.notifications:hover{
  background-color: #f6f6f6;
}